page-hemocentroSelecionado {
    .botoesMenu{
        color:white;
    }
    .botoesMenu:hover{
        border:2px solid white;
    }
    .botoesMenuSelecionado{
        color:white;
        border:2px solid white;
    }
    .desktop{
        display: none;
    }
    .estoque{
        position: relative;
        width:90px; 
        height:90px;
        background-color: #ffffff;
        background-color:rgb(252, 235, 235);
    }
    .nomePerfil{
        position: absolute;
        top:60px;
        font-size: 9pt;
        color:#ffffff;
        left:100px;
    }
    .divEstoque{
        position: relative;
        border-style: groove;
       
        margin-left:-160px;
        left: 50%;
        width:315px;
         
        z-index: 1; 
    }
    .botoes{
        text-align:right;
    }
    .tipoAPositivo {
        position: absolute;
        top: 95px;
        left: 25px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoANegativo {
        position: absolute;
        top: 95px;
        left: 133px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoBPositivo {
        position: absolute;
        top: 95px;
        left: 241px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoBNegativo {
        position: absolute;
        top: 190px;
        left: 25px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoABPositivo {
        position: absolute;
        top: 190px;
        left: 133px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoABNegativo {
        position: absolute;
        top: 190px;
        left: 241px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoOPositivo {
        position: absolute;
        top: 285px;
        left: 80px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoONegativo {
        position: absolute;
        top: 285px;
        left: 188px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .legendaEstoque{
        position:relative;
        background-color:rgb(252, 235, 235);
        width:200px;
        
        margin-left: 55px;
    }
    
    .textoTitulo{
        font-size: 11pt;
        text-align: center;
    }
    .texto{
        margin: 5px 10px 10px 10px;
    }
    
    .tituloAtualizacao{
        font-size:8pt; 
        text-align: center;
    }
    .cor{
        color:rgb(209, 7, 7);
        font-weight: bold;
        font-size: 16pt;
        text-align: center;
    }
    .botoes{
        text-align:center;  
    }

    

    @media (max-width: 400px) {
        .div2{
            position:relative;
            width: 100%;
            height: 220px;
            max-height: 100%; 
        }
        .nomePerfil{
            position: absolute;
            top:60px;
            font-size: 9pt;
            color:#ffffff;
            left:100px;
        }
    }
  
   // @media (max-width: 767px) {
     //   .div2{
     //       position:relative;
      //      width: 100%;
      //      height: 300px;
     //       max-height: 100%; 
   //     }
   // }
    @media (min-width: 1000px) {
        .desktopMenu{
            display: none;
        }
        .tamNav{
            height:80px;
        }
        .desktop{
            display: inline;
        }
        
        .textoTitulo{
            font-size: 14pt;
            text-align: center;
        }
        .texto{
            margin: 5px 10px 10px 10px;
            font-size: 12pt;
        }
        .cor{
            color:rgb(209, 7, 7);
            font-weight: bold;
            font-size: 23pt;
            text-align: center;
        }
        .tituloAtualizacao{
            font-size:10pt; 
            text-align: center;
        }
        

        .legendaEstoque{
            position:relative;
            background-color:rgb(252, 235, 235);
            width:200px;
            left:22%;
        }

        .tipoAPositivo {
            position: absolute;
            top: 105px;
            left: 33px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }
        .tipoANegativo {
            position: absolute;
            top: 230px;
            left: 173px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }
        .tipoBPositivo {
            position: absolute;
            top: 230px;
            left: 33px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }
        .tipoBNegativo {
            position: absolute;
            top: 105px;
            left: 173px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }

        .tipoABPositivo {
            position: absolute;
            top: 105px;
            left: 300px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }
        .tipoABNegativo {
            position: absolute;
            top: 105px;
            left: 440px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }
        .tipoOPositivo {
            position: absolute;
            top: 230px;
            left: 300px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }
        .tipoONegativo {
            position: absolute;
            top: 230px;
            left: 440px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }
        .estoque{
            position: relative;
            width:120px; 
            height:120px;
            background-color: #ffffff;
            background-color:rgb(252, 235, 235);
        }

        .divEstoque{
            position: relative;
            border-style: groove;
           
            margin-left:-266px;
            left: 50%;
            width:533px;
             
            z-index: 1; 
        }
        .botoes{
            text-align:center;
            font-size: 12pt;    
        }
    }
    
    .imagemPerfil{
        position: absolute;
        cursor: hand;
        width:80px;
        height:65px;
        top: 53px;
        left: 4px;
        border: 1px solid white;
    }
    .imagemPerfil:hover{
        border: 1px solid white;
    }
    

    .rank{
        position: absolute;
        top:50px;
        right: 2px;
        width: 70px;
        height: 70px;
        background:url(assets/imgs/colunaPerfil.jpg) 0 0 no-repeat;
    }
    .rank:hover{
        border: 1px solid white;
    }
    
    .dataDoacao{
        position: fixed;
        width: 100%;
        height: 20px;
        font-size: 10pt;
        font-weight: bold;
        text-align: center;
        background-color: rgb(119, 117, 117);
        color:rgb(255, 255, 255);
        bottom: 0px;
        left: 0px;
        z-index: 10;
    }
    
    
    
}
