page-hemocentroSelecionado {
    .divBotoesMenu{
        text-align:center;
        font: 17px/34px Teste2;
    }
    .botoesMenu{
        color:white;
    }
    .botoesMenu:hover{
        border-bottom:3px solid white;
    }
    .botoesMenuSelecionado{
        color:white;
        border-bottom:3px solid white;
    }
    .desktop{
        display: none;
    }
    .estoque{
        position: relative;
        width:90px; 
        height:90px;
        background-color: #ffffff;
        background-color:rgb(252, 235, 235);
    }
    .nomePerfil{
        position: absolute;
        top:60px;
        font-size: 9pt;
        color:#ffffff;
        left:100px;
    }
    .divEstoque{

        position: relative;
        border-style: groove;
       
        margin-left:-160px;
        left: 50%;
        width:315px;
         
        z-index: 1; 
    }
    .coracoes{
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        text-align:center;
        margin-bottom:25px;
        height:280px;
    }

    .coracao {
        width:91px;
        margin:2px;
        height:91px;
    }
    .tipoAPositivo {
        top:-60px;
        text-align:center;
 
        position: relative;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoANegativo {
        top:-60px;
        position:relative;
        text-align:center;
 
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoBPositivo {
        top:-60px;
        text-align:center;
        position:relative;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoBNegativo {
        top:-60px;
        text-align:center;
        position:relative;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoABPositivo {
        top:-60px;
        text-align:center;
        position:relative;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoABNegativo {
        top:-60px;
        text-align:center;
        position:relative;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoOPositivo {
        top:-60px;
        text-align:center;
        position:relative;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoONegativo {
        top:-60px;
        text-align:center;
        position:relative;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .legendaEstoque{
        position:relative;
        background-color:rgb(252, 235, 235);
        width:200px;
        
        margin-left: 55px;
    }
    
    .textoTitulo{
        font-size: 11pt;
        text-align: center;
    }
    .texto{
        margin: 5px 10px 10px 10px;
    }
    
    .tituloAtualizacao{
        font-size:8pt; 
        text-align: center;
    }
    .cor{
        color:rgb(209, 7, 7);
        font-weight: bold;
        font-size: 16pt;
        text-align: center;
    }
    .botoes{
        text-align:center;
        border-radius: 10px;
        background-color:rgb(252, 97, 97);
        height: 35px;
    }
    .botoes:hover{
        background-color:rgb(255, 34, 34);
    }

    
    .dataDoacao{
        position: fixed;
        width: 100%;
        height: 20px;
        font-size: 10pt;
        font-weight: bold;
        text-align: center;
        background-color: rgb(119, 117, 117);
        color:rgb(255, 255, 255);
        bottom: 0px;
        left: 0px;
        z-index: 10;
    }
    
    @media (max-width: 400px) {
        .div2{
            position:relative;
            width: 100%;
            height: 220px;
            max-height: 100%; 
        }
        .nomePerfil{
            position: absolute;
            top:60px;
            font-size: 9pt;
            color:#ffffff;
            left:100px;
        }
    }
  
   // @media (max-width: 767px) {
     //   .div2{
     //       position:relative;
      //      width: 100%;
      //      height: 300px;
     //       max-height: 100%; 
   //     }
   // }
    @media (min-width: 1000px) {
         
        .tamNav{
            height:80px;
        }
    
        
        .textoTitulo{
            font-size: 14pt;
            text-align: center;
        }
        .texto{
            margin: 5px 10px 10px 10px;
            font-size: 12pt;
        }
        .cor{
            color:rgb(209, 7, 7);
            font-weight: bold;
            font-size: 23pt;
            text-align: center;
        }
        .tituloAtualizacao{
            font-size:10pt; 
            text-align: center;
        }
        


        .botoes{
            font-size: 12pt;
            text-align:center;
            border-radius: 10px;
            background-color:rgb(252, 97, 97);
        }
        .dataDoacao{
            position: fixed;
            width: 100%;
            height: 30px;
            font-size: 13pt;
            font-weight: bold;
            text-align: center;
            background-color: rgb(119, 117, 117);
            color:rgb(255, 255, 255);
            bottom: 0px;
            left: 0px;
            z-index: 10;
        }
    }
    
    .imagemPerfil{
        position: absolute;
        cursor: hand;
        width:80px;
        height:65px;
        top: 53px;
        left: 4px;
        border: 1px solid white;
    }
    .imagemPerfil:hover{
        border: 1px solid white;
    }
    

    .rank{
        position: absolute;
        top:50px;
        right: 2px;
        width: 70px;
        height: 70px;
        background:url(assets/imgs/colunaPerfil.jpg) 0 0 no-repeat;
    }
    .rank:hover{
        border: 1px solid white;
    }
    
    
}
