page-rank {
    .divBotoesMenu{
        text-align:center;
        font: 17px/34px Teste2;
    }
    .botoesMenu{
        color:white;
    }
    .botoesMenu:hover{
        border-bottom:3px solid white;
    }
    .botoesMenuSelecionado{
        color:white;
        border-bottom:3px solid white;
    }
    .desktop{
        display: none;
    }
    .titulo{
        text-align:center;
        font-weight:bold; 
        font-size:18pt; 
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }

    #posicao {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    #posicao td, #posicao th {
        border: 1px solid #ddd;
        font-size: 12pt;
        padding: 8px;
    }
    
    #posicao tr:nth-child(even){background-color: #f2f2f2;}
    
    #posicao tr:hover {background-color: #ddd;}
    
    #posicao th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(252, 128, 128);
        color: white;
    }

    .dataDoacao{
        position: fixed;
        width: 100%;
        height: 20px;
        font-size: 10pt;
        font-weight: bold;
        text-align: center;
        background-color: rgb(119, 117, 117);
        color:rgb(255, 255, 255);
        bottom: 0px;
        left: 0px;
        z-index: 10;
    }
    
    @media (min-width: 1000px) {
        .desktopMenu{
            display: none;
        }
        .tamNav{
            height:80px;
        }
        .desktop{
            display: inline;
        }
        #posicao td, #posicao th {
            border: 1px solid #ddd;
            font-size: 14pt;
            padding: 8px;
        }
        .titulo{
            text-align:center;
            font-weight:bold; 
            font-size:20pt; 
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        }
        .dataDoacao{
            position: fixed;
            width: 100%;
            height: 30px;
            font-size: 13pt;
            font-weight: bold;
            text-align: center;
            background-color: rgb(119, 117, 117);
            color:rgb(255, 255, 255);
            bottom: 0px;
            left: 0px;
            z-index: 10;
        }
    }
    
}
