page-home {
    .botoesMenu{
        color:white;
    }
    .botoesMenu:hover{
        border:2px solid white;
    }
    .botoesMenuSelecionado{
        color:white;
        border:2px solid white;
    }
    .desktop{
        display: none;
    }
    .estoque{
        position: relative;
        width:90px; 
        height:90px;
        background-color: #ffffff;
        background-color:rgb(252, 235, 235);
    }
    .nomePerfil{
        position: absolute;
        top:40px;
        font-size: 11pt;
        color:#ffffff;
        left:100px;
    }
    .nomePerfil:hover{
        text-decoration: underline white;
    }
    .divEstoque{
        position: relative;
        border-style: groove;
       
        margin-left:-160px;
        left: 50%;
        width:315px;
         
        z-index: 1; 
    }
    .botoes{
        text-align:center;
        border-radius: 10px;
        background-color:rgb(252, 97, 97);
        height: 35px;
    }
    .botoes:hover{
        background-color:rgb(255, 34, 34);
    }

    .tituloAtualizacao{
        font-size:8pt; 
        text-align: center;
    }

    .tipoAPositivo {
        position: absolute;
        top: 95px;
        left: 25px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoANegativo {
        position: absolute;
        top: 95px;
        left: 133px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoBPositivo {
        position: absolute;
        top: 95px;
        left: 241px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoBNegativo {
        position: absolute;
        top: 190px;
        left: 25px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoABPositivo {
        position: absolute;
        top: 190px;
        left: 133px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoABNegativo {
        position: absolute;
        top: 190px;
        left: 241px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoOPositivo {
        position: absolute;
        top: 285px;
        left: 80px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    .tipoONegativo {
        position: absolute;
        top: 285px;
        left: 188px;
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
        z-index: 3;
    }
    
    .levelUsuario{
        position: absolute;
        top:60px;
        font-size: 10;
        color: yellow;
        left:102px;
    }
    
    .cor{
        color:rgb(209, 7, 7);
        font-weight: bold;
        font-size: 16pt;
        text-align: center;
    }
    .box1 {
		position:absolute;
		top: 400px;
		left: 100px;
    }

    .imagemPerfil{
        position: absolute;  
        width:80px;
        height:65px;
        top: 33px;
        left: 4px;
        border: 1px solid white;
    }
    .rank{
        position: absolute;
        top:45px;
        right: 2px;
        width: 50px;
        height: 50px;
        background:url(assets/imgs/colunaPerfil.jpg) 0 0 no-repeat;
    }
    .legendaEstoque{
        position:relative;
        background-color:rgb(252, 235, 235);
        width:200px;
        
        margin-left: 55px;
    }

    .div1 {
        background: rgba(13,1,1,0.63);
background: -moz-linear-gradient(45deg, rgba(13,1,1,0.63) 0%, rgba(13,1,1,0.63) 1%, rgba(255,5,5,0.69) 16%, rgba(171,3,3,0.79) 44%, rgba(74,0,0,0.88) 67%, rgba(20,3,7,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(13,1,1,0.63)), color-stop(1%, rgba(13,1,1,0.63)), color-stop(16%, rgba(255,5,5,0.69)), color-stop(44%, rgba(171,3,3,0.79)), color-stop(67%, rgba(74,0,0,0.88)), color-stop(100%, rgba(20,3,7,1)));
background: -webkit-linear-gradient(45deg, rgba(13,1,1,0.63) 0%, rgba(13,1,1,0.63) 1%, rgba(255,5,5,0.69) 16%, rgba(171,3,3,0.79) 44%, rgba(74,0,0,0.88) 67%, rgba(20,3,7,1) 100%);
background: -o-linear-gradient(45deg, rgba(13,1,1,0.63) 0%, rgba(13,1,1,0.63) 1%, rgba(255,5,5,0.69) 16%, rgba(171,3,3,0.79) 44%, rgba(74,0,0,0.88) 67%, rgba(20,3,7,1) 100%);
background: -ms-linear-gradient(45deg, rgba(13,1,1,0.63) 0%, rgba(13,1,1,0.63) 1%, rgba(255,5,5,0.69) 16%, rgba(171,3,3,0.79) 44%, rgba(74,0,0,0.88) 67%, rgba(20,3,7,1) 100%);
background: linear-gradient(45deg, rgba(13,1,1,0.63) 0%, rgba(13,1,1,0.63) 1%, rgba(255,5,5,0.69) 16%, rgba(171,3,3,0.79) 44%, rgba(74,0,0,0.88) 67%, rgba(20,3,7,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0101', endColorstr='#140307', GradientType=1 );
        position:relative;
        width: 100%;
        height: 100px;
        max-height: 100%; 
        border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        box-shadow:4px 4px 4px #CCCCCC;  
    }

    @media (max-width: 400px) {
        .div2{
            position:relative;
            width: 100%;
            height: 220px;
            max-height: 100%; 
        }
        
    }
  
   // @media (max-width: 767px) {
     //   .div2{
     //       position:relative;
      //      width: 100%;
      //      height: 300px;
     //       max-height: 100%; 
   //     }
   // }
    @media (min-width: 1000px) {
        .imagemPerfil{
            position: absolute;  
            width:100px;
            height:85px;
            top: 43px;
            left: 4px;
            border: 1px solid white;
        }
        .rank{
            position: absolute;
            top:50px;
            right: 2px;
            width: 70px;
            height: 70px;
            background:url(assets/imgs/colunaPerfil.jpg) 0 0 no-repeat;
        }
        .nomeLevelPerfil{
            position:absolute;
            z-index:20; 
            left:50px; 
            top:1px;
        }
        

        .desktopMenu{
            display: none;
        }
        .tamNav{
            height:80px;
        }
        .desktop{
            display: inline;
        }
        .tituloAtualizacao{
            font-size:10pt; 
            text-align: center;
        }

        .nomePerfil{
            position: absolute;
            top:60px;
            font-size: 20pt;
            color:#ffffff;
            left:100px;
        }
    
        .cor{
            color:rgb(209, 7, 7);
            font-weight: bold;
            font-size: 23pt;
            text-align: center;
        }
        

        .legendaEstoque{
            position:relative;
            background-color:rgb(252, 235, 235);
            width:200px;
            left:22%;
            
            
        }

        .tipoAPositivo {
            position: absolute;
            top: 105px;
            left: 33px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }
        .tipoANegativo {
            position: absolute;
            top: 230px;
            left: 173px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }
        .tipoBPositivo {
            position: absolute;
            top: 230px;
            left: 33px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }
        .tipoBNegativo {
            position: absolute;
            top: 105px;
            left: 173px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }

        .tipoABPositivo {
            position: absolute;
            top: 105px;
            left: 300px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }
        .tipoABNegativo {
            position: absolute;
            top: 105px;
            left: 440px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }
        .tipoOPositivo {
            position: absolute;
            top: 230px;
            left: 300px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }
        .tipoONegativo {
            position: absolute;
            top: 230px;
            left: 440px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            z-index: 3;
        }
        .botoes{
            font-size: 12pt;
            text-align:center;
            border-radius: 10px;
            background-color:rgb(252, 97, 97);
        }
        .estoque{
            position: relative;
            width:120px; 
            height:120px;
            background-color: #ffffff;
            background-color:rgb(252, 235, 235);
        }

        .divEstoque{
            position: relative;
            border-style: groove;
           
            margin-left:-266px;
            left: 50%;
            width:533px;
             
            z-index: 1; 
        }
        .div1 {
        background: rgba(13,1,1,0.63);
        background: -moz-linear-gradient(45deg, rgba(13,1,1,0.63) 0%, rgba(13,1,1,0.63) 1%, rgba(255,5,5,0.69) 16%, rgba(171,3,3,0.79) 44%, rgba(74,0,0,0.88) 67%, rgba(20,3,7,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(13,1,1,0.63)), color-stop(1%, rgba(13,1,1,0.63)), color-stop(16%, rgba(255,5,5,0.69)), color-stop(44%, rgba(171,3,3,0.79)), color-stop(67%, rgba(74,0,0,0.88)), color-stop(100%, rgba(20,3,7,1)));
        background: -webkit-linear-gradient(45deg, rgba(13,1,1,0.63) 0%, rgba(13,1,1,0.63) 1%, rgba(255,5,5,0.69) 16%, rgba(171,3,3,0.79) 44%, rgba(74,0,0,0.88) 67%, rgba(20,3,7,1) 100%);
        background: -o-linear-gradient(45deg, rgba(13,1,1,0.63) 0%, rgba(13,1,1,0.63) 1%, rgba(255,5,5,0.69) 16%, rgba(171,3,3,0.79) 44%, rgba(74,0,0,0.88) 67%, rgba(20,3,7,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(13,1,1,0.63) 0%, rgba(13,1,1,0.63) 1%, rgba(255,5,5,0.69) 16%, rgba(171,3,3,0.79) 44%, rgba(74,0,0,0.88) 67%, rgba(20,3,7,1) 100%);
        background: linear-gradient(45deg, rgba(13,1,1,0.63) 0%, rgba(13,1,1,0.63) 1%, rgba(255,5,5,0.69) 16%, rgba(171,3,3,0.79) 44%, rgba(74,0,0,0.88) 67%, rgba(20,3,7,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0101', endColorstr='#140307', GradientType=1 );
        position:relative;
        width: 100%;
        height: 130px;
        max-height: 100%; 
        border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        box-shadow:4px 4px 4px #CCCCCC;  
        }

        .levelUsuario{
            position: absolute;
            top:90px;
            font-size: 10;
            color: yellow;
            left:102px;
        }

    }
    
    
    
    

    
    
    
    .dataDoacao{
        position: fixed;
        width: 100%;
        height: 20px;
        font-size: 10pt;
        font-weight: bold;
        text-align: center;
        background-color: rgb(119, 117, 117);
        color:rgb(255, 255, 255);
        bottom: 0px;
        left: 0px;
        z-index: 10;
    }
    
    
    
    
}
