page-campanha {
    .botoesMenu{
        color:white;
    }
    .botoesMenu:hover{
        border:2px solid white;
    }
    .botoesMenuSelecionado{
        color:white;
        border:2px solid white;
    }
    .desktop{
        display: none;
    }
    .informacoes{
        font-size:8pt;
    }
    .dataDoacao{
        position: fixed;
        width: 100%;
        height: 20px;
        font-size: 10pt;
        font-weight: bold;
        text-align: center;
        background-color: rgb(119, 117, 117);
        color:rgb(255, 255, 255);
        bottom: 0px;
        left: 0px;
        z-index: 10;
    }
    @media (min-width: 1000px) {
        .desktopMenu{
            display: none;
        }
        .tamNav{
            height:80px;
        }
        .desktop{
            display: inline;
        }
        .informacoes{
            font-size:10pt;
        }
        .dataDoacao{
            position: fixed;
            width: 100%;
            height: 30px;
            font-size: 13pt;
            font-weight: bold;
            text-align: center;
            background-color: rgb(119, 117, 117);
            color:rgb(255, 255, 255);
            bottom: 0px;
            left: 0px;
            z-index: 10;
        }
    }
    
    
}
