page-noticia{
    .botoesMenu{
        color:white;
    }
    .botoesMenu:hover{
        border:2px solid white;
    }
    .botoesMenuSelecionado{
        color:white;
        border:2px solid white;
    }
    .desktop{
        display: none;
    }
    .textoListaNoticia{
        word-wrap: break-word;
        font-weight: bold;
        font-size:12pt; 
        color:rgb(0, 49, 122);
    }
    .textoSublinhado:hover{
        text-decoration: underline rgb(0, 49, 122);
        background-color:rgb(252, 235, 235);
    }
    .dataDoacao{
        position: fixed;
        width: 100%;
        height: 20px;
        font-size: 10pt;
        font-weight: bold;
        text-align: center;
        background-color: rgb(119, 117, 117);
        color:rgb(255, 255, 255);
        bottom: 0px;
        left: 0px;
        z-index: 10;
    }
    .itemNoticia{
        background-color:rgb(252, 235, 235); 
    }
    .imagem{
        width: 50px;
    }
    .tituloNoticia{
        word-wrap: break-word;
    }
    .dataNoticia{
        color:rgb(97, 96, 96);
        font-size:10pt;
    }

    @media (min-width: 1000px ){
        .desktopMenu{
            display: none;
        }
        .tamNav{
            height:80px;
        }
        .desktop{
            display: inline;
        }
        .itemNoticia{
            background-color:rgb(252, 235, 235); 
            font-size:14pt;
        }
        .tituloNoticia{
            word-wrap: break-word;
            font-size: 18pt;
        }
        .dataNoticia{
            color:rgb(97, 96, 96);
            font-size:14pt;
        }
        .imagem{
            width: 160px;
        }
        .textoSublinhado:hover{
            text-decoration: underline;
        }
    }
}
