page-noticia{
    .dataDoacao{
        position: fixed;
        width: 100%;
        height: 20px;
        font-size: 10pt;
        font-weight: bold;
        text-align: center;
        background-color: rgb(119, 117, 117);
        color:rgb(255, 255, 255);
        bottom: 0px;
        left: 0px;
        z-index: 10;
    }
    .itemNoticia{
        background-color:rgb(252, 235, 235); 
    }
    .imagem{
        width: 50px;
    }
    .tituloNoticia{
        word-wrap: break-word;
    }
    .dataNoticia{
        color:rgb(97, 96, 96);
        font-size:10pt;
    }

    @media (min-width: 1000px ){
        .itemNoticia{
            background-color:rgb(252, 235, 235); 
            font-size:14pt;
        }
        .tituloNoticia{
            word-wrap: break-word;
            font-size: 18pt;
        }
        .dataNoticia{
            color:rgb(97, 96, 96);
            font-size:14pt;
        }
        .imagem{
            width: 160px;
        }
    }
}
