page-duvida{
    .question {
        border-bottom: 1px solid #ccc;
        padding: 10px 0
      }
      
      .question input,
      .question .answer { display: none }
      
      .question label {
        display: inline-block;
        font-weight: bold;
        margin-bottom: 5px;
        width: 100%
      }
      
      .question input:checked ~ .answer {
        display: block
      }

      .dataDoacao{
        position: fixed;
        width: 100%;
        height: 20px;
        font-size: 10pt;
        font-weight: bold;
        text-align: center;
        background-color: rgb(119, 117, 117);
        color:rgb(255, 255, 255);
        bottom: 0px;
        left: 0px;
        z-index: 10;
    }
}
