page-duvida{
  .botoesMenu{
    color:white;
  }
  .botoesMenu:hover{
    border:2px solid white;
  }
  .botoesMenuSelecionado{
    color:white;
    border:2px solid white;
  }
  .desktop{
    display: none;
  }

    .botoesMenu{
        color:white;
    }
    .botoesMenu:hover{
        border:2px solid white;
    }
    .botoesMenuSelecionado{
        color:white;
        border:2px solid white;
    }
    .desktop{
        display: none;
    }

    .question {
        border-bottom: 1px solid #ccc;
        padding: 10px 0
      }
      
      .question input,
      .question .answer { display: none }
      
      .question label {
        font-size: 12pt;
        display: inline-block;
        font-weight: bold;
        margin-bottom: 5px;
        width: 100%;
        
      }
      
      .question input:checked ~ .answer {
        display: block
      }

      @media (min-width: 1000px) {
        .desktopMenu{
          display: none;
        }
        .tamNav{
          height:80px;
        }
        .desktop{
          display: inline;
        }

        .question label {
          font-size: 15pt;
          display: inline-block;
          font-weight: bold;
          margin-bottom: 5px;
          width: 100%;
          
        }
        
        .question input:checked ~ .answer {
          font-size: 13pt;
          display: block
        }
      }

      .dataDoacao{
        position: fixed;
        width: 100%;
        height: 20px;
        font-size: 10pt;
        font-weight: bold;
        text-align: center;
        background-color: rgb(119, 117, 117);
        color:rgb(255, 255, 255);
        bottom: 0px;
        left: 0px;
        z-index: 10;
    }
}
