page-campanhaSelecionada {
    .campanhaTitulo{
        text-align: center;
        font-size: 11pt;
        font-weight: bold;
    }
    .campanhaTexto{
        font-size:11pt;
    }
    .informacoes{
        border-radius:4px;height:250px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        box-shadow:4px 4px 4px #CCCCCC; 
        background-color:white; 
        border:1px solid rgb(255, 0, 0); 
        font-size:11pt;
    }
    .mapa{
        left:37%; 
        top:620px; 
        font-size: 10pt;
        position:absolute;
        width:150px;
    }
    .botoesMenu{
        color:white;
    }
    .botoesMenu:hover{
        border:2px solid white;
    }
    .botoesMenuSelecionado{
        color:white;
        border:2px solid white;
    }
    .desktop{
        display: none;
    }
    @media (min-width: 1000px) {
        .campanhaTitulo{
            text-align: center;
            font-size: 12pt;
            font-weight: bold;
        }
        .campanhaTexto{
            font-size:12pt;
        }
        .informacoes{
            border-radius:4px;height:250px;
            -moz-border-radius:4px;
            -webkit-border-radius:4px;
            box-shadow:4px 4px 4px #CCCCCC; 
            background-color:white; 
            border:1px solid rgb(255, 0, 0); 
            font-size:12pt;
        }

        .desktopMenu{
            display: none;
        }
        .tamNav{
            height:80px;
        }
        .desktop{
            display: inline;
        }

        .mapa{
            left:37%; 
            top:580px;
            font-size: 10pt; 
            position:absolute;
            width:150px;
        }
    }
    .dataDoacao{
        position: fixed;
        width: 100%;
        height: 20px;
        font-size: 10pt;
        font-weight: bold;
        text-align: center;
        background-color: rgb(119, 117, 117);
        color:rgb(255, 255, 255);
        bottom: 0px;
        left: 0px;
        z-index: 10;
    }
    
}
