<ion-header>
  <ion-navbar class="tamNav" color="danger">
    <button class="desktopMenu" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="desktop">
      <img style="width:60px;position:absolute; top:13px" src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png"
      />
      <div class="divBotoesMenu">
        <button (click)="chamarHome()" ion-button clear class="botoesMenu">INÍCIO</button>
        <button (click)="chamarCampanha()" ion-button clear class="botoesMenu">CAMPANHAS</button>
        <button (click)="chamarHemocentro()" ion-button clear class="botoesMenu">HEMOCENTROS</button>
        <button (click)="chamarNoticia()" ion-button clear class="botoesMenu">NOTÍCIAS</button>
        <button ion-button clear class="botoesMenu botoesMenuSelecionado">AGENDAR DOAÇÃO</button>
        <button (click)="chamarInformacoes()" ion-button clear class="botoesMenu">INFORMAÇÕES GERAIS</button>
        <button (click)="chamarIdentificador()" ion-button clear class="botoesMenu">MEU IDENTIFICADOR</button>
        <button (click)="chamarRegistrarDoacao()" ion-button clear class="botoesMenu">MINHAS DOAÇÕES</button>
      </div>


      <div style="position:absolute;top:17px;right:5px;">
        <button ion-button icon-only clear>
          <ion-icon style=" color:white; font-size:24pt" name="ios-contact"></ion-icon>
        </button>
      </div>
    </div>
    <ion-title class="desktopMenu">Criar Grupo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color:rgb(252, 235, 235)">
  <ion-list style="padding-left:10px">
    <ion-item class="itemNome">
      <ion-label style="color:red">Nome:</ion-label>
      <ion-input [(ngModel)]="nomeGrupo" placeholder="Nome do Grupo"></ion-input>
    </ion-item>
    <br/>
    <br/>
    <ion-list class="listRadio" radio-group>
      <fieldset>
        <legend class="legendaRadio">Tipo de Grupo:</legend>
        <br/>
        <ion-item style="background-color:rgb(252, 235, 235);">
          <ion-label>Aberto para todos da campanha</ion-label>
          <ion-radio checked="true" value="aberto"></ion-radio>
        </ion-item>

        <ion-item style="background-color:rgb(252, 235, 235)">
          <ion-label>Privado</ion-label>
          <ion-radio value="privado"></ion-radio>
        </ion-item>
      </fieldset>
    </ion-list>
  </ion-list>

  <br/>
  <br/>
  <button ion-item style="color:red;background-color: rgb(252, 235, 235)">
    <ion-icon style="font-size:25pt; color:black" name="md-person-add" item-start></ion-icon>
    Convidar Amigos
  </button>


  <ion-card style="border:1px solid red">
    <ion-card-header style="border:1px solid red">
      Membros Convidados
    </ion-card-header>

    <ion-list style="border:1px solid red">

      <!-- *ngFor="let c of convidados"-->
      <label ion-item *ngFor="let c of convidados">
        <ion-icon name="md-contact" item-start></ion-icon>
        <ion-icon *ngIf="c.confirmou" name="md-checkmark-circle-outline" style="color:green" item-end></ion-icon>
        <ion-icon *ngIf="!c.confirmou" name="md-close" style="color: red" item-end></ion-icon>
        Antonio Nunes
      </label>

    </ion-list>
  </ion-card>


  <br/>
  <br/>
  <button style="color:red; border:1px solid red; font-size:10pt" ion-button full outline icon-start>
    <ion-icon name="ios-create-outline"></ion-icon>
    Criar Grupo
  </button>

  <div full class="dataDoacao">
    <b>Data prevista para a proxima doação: 22/22/2222</b>
  </div>
</ion-content>