page-noticiaSelecionada{
    .botoesMenu{
        color:white;
    }
    .botoesMenu:hover{
        border:2px solid white;
    }
    .botoesMenuSelecionado{
        color:white;
        border:2px solid white;
    }
    .desktop{
        display: none;
    }
    
    
    .dataDoacao{
        position: fixed;
        width: 100%;
        height: 20px;
        font-size: 10pt;
        font-weight: bold;
        text-align: center;
        background-color: rgb(119, 117, 117);
        color:rgb(255, 255, 255);
        bottom: 0px;
        left: 0px;
        z-index: 10;
    }

    @media(min-width:1000px){
        .desktopMenu{
            display: none;
        }
        .tamNav{
            height:80px;
        }
        .desktop{
            display: inline;
        }
        .textoNoticia{
            font-size: 14pt;
        }
        .textoListaNoticia{
            word-wrap: break-word;
            font-size:12pt; 
            color:rgb(0, 49, 122);
        }
        
        .textoSublinhado:hover{
            text-decoration: underline rgb(0, 49, 122);
        }
        
        .imagemNoticia{
            position: absolute;
            top:200px;
            left:100px;
            width: 700px;
        }
    }
    
}
